@model PaginatedList<Post>

@{
    ViewData["Title"] = "Bài viết mới nhất";
    ViewData["Heading"] = "Bài viết mới nhất";
}

@* <p>
<a asp-action="Create">Create New</a>
</p>
<p>
<a asp-action="Import">Import file (CSV)</a>
</p> *@

<div class="row">
    <div class="col-3">
        <label for="">Hãy tạo bài viết để cùng nhau thảo luận về chủ đề của bạn</label>
        <br>
        <a class="btn btn-success" asp-controller="Posts" asp-action="Create">Tạo bài viết mới</a>
        <img style="height: 20rem; object-fit: cover;" src="~/image/create.png" alt="...">
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide col-9">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img style="height: 20rem;" src="https://cdn.sstatic.net/Img/home/illo-public.svg?v=14bd5a506009"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Một nền tảng công cộng xây dựng bộ sưu tập các câu hỏi và câu trả lời về mã hóa
                        chính xác</h5>
                    <p>Một không gian dựa vào cộng đồng để tìm kiếm và đóng góp câu trả lời cho những
                        thách thức kỹ thuật, và là một trong những trang web phổ biến nhất trên thế
                        giới.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img style="height: 20rem;" src="https://cdn.sstatic.net/Img/home/illo-teams.svg?v=7e543f14fcc0"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nền tảng SaaS chia sẻ kiến thức và cộng tác riêng tư dành cho các công ty</h5>
                    <p>Nền tảng dựa trên web để tăng năng suất, giảm thời gian chu kỳ, tăng tốc thời
                        gian để tiếp thị và bảo vệ kiến thức của tổ chức.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>

<div class="row row-cols-1 row-cols-lg-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <h5 class="card-title text-bold">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </a>
                    <br>
                    Ngày cập nhật: @Html.DisplayFor(modelItem => item.Modified)
                    <br>
                    Lượt xem: @Html.DisplayFor(modelItem => item.Viewed)
                    <p class="card-text">
                        @if (item.Tags != null)
                        {
                            foreach (var tag in item.Tags.Split(','))
                            {
                                <small class="badge badge-primary">@tag</small>
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<!-- /.col-md-6 -->
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
    Trang trước
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">
    Trang sau
</a>